* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  width: 100%;
  line-height: 2em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header, section {
  margin-top: 3em;
}

h3 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rowItem {
  width: 25%;
  border: 1px solid grey;
  padding: 15px;
}

