* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  width: 100%;
}

.bodyWrapper {
  margin: 3em;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  margin-top: 3em;
}

footer {
  margin-bottom: 3em;
}

h3 {
  text-transform: capitalize;
}

ul {
  list-style: none;
}

.row {
  overflow-x: hidden;
  display: flex;
}

.solutionWrapper {
  width: 100%;
}

.rowItem {
  display: block;
  border: 1px solid grey;
  padding: 15px;
  width: 100%;
  height: 100%;
  
}

@media (min-width: 22em) {
  .solutionWrapper {
    width: 50%;
  }
}

@media (min-width: 48em) {

  .solutionWrapper {
    width: 33%;
  }

   .row {
    flex-wrap: wrap;
  }

  .button {
    display: none;
  }
}