* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

.srOnly { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  width: 100%;
}

main {
  min-height: calc(100vh - 336px);
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  padding: 60px 30px;
  background-color: #444;
  color: #fff;
}

header a {
  color: #fff;
}

header p, footer p:last-child {
  margin-top: 10px;
}

footer {
  background-color: #444;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.search {
  background-color: green;
  padding: 10px 0;
  margin: 0 0 30px 0;
}

form[name=search] {
  margin: 40px 0;
  width: 100%;
}

form > div {
  display: flex;
  justify-content: center;
  position: relative;
}

form input {
  padding: 5px 5px 5px 1.5em;
  border-radius: 12px;
  border: 1px solid grey;
  font-size: 2.5em;
  position: relative;
}

.searchIcon {
  position: absolute;
  z-index: 10;
  margin-top: 1px;
  margin-left: 1px;
  background-color: #fff;
  padding: 10px 5px 5px;
  border-right: 1px solid gray;
  border-radius: 12px 0 0 12px;
}

.searchIcon > img {
  width: 2.5em;
  height: 2.5em;
}

h3 {
  text-transform: capitalize;
  margin: 15px 0;
}

ul {
  list-style: none;
}

.categoryList {
  margin: 30px 0 40px;
}

.results {
  margin: 0 30px;
}

.row {
  overflow-x: hidden;
  display: flex;
  margin-bottom: 30px;
}

.solutionWrapper {
  width: 100%;
}

.rowItem {
  display: block;
  border: 1px solid grey;
  padding: 15px;
  width: 100%;
  height: 100%;
}

@media (min-width: 22em) {

  .solutionWrapper {
    width: 50%;
  }
}

@media (min-width: 48em) {

  .bodyWrapper {
    margin: 0;
  }

  .solutionWrapper {
    width: 33%;
  }

   .row {
    flex-wrap: wrap;
  }

  .button {
    display: none;
  }
}

@media (min-width: 72em) {

  header {
    padding: 60px 0;
  }
  .results {
    margin: 0;
  }
}