* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  padding: 60px 0 40px 0;
  background-color: #444;
  color: #fff;
}

header p, footer p:last-child {
  margin-top: 10px;
}

footer {
  background-color: #444;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.search {
  background-color: #444;
  padding: 10px 0;
  margin: 0 0 30px 0;
}

.line {
  width: 5%;
  border-top: 1px solid #fff;
}

form[name=search] {
  margin: 40px 0;
  width: 100%;
}

form > div {
  display: flex;
}

form label {
  margin-right: 5px;
  color: white;
  font-size: 2em;
}

form input {
  padding: 5px;
  border-radius: 12px;
  border: 1px solid grey;
  font-size: 2em;
}

h3 {
  text-transform: capitalize;
  margin: 15px 0;
}

ul {
  list-style: none;
}

.results {
  margin: 0 30px;
}

.row {
  overflow-x: hidden;
  display: flex;
  margin-bottom: 30px;
}

.solutionWrapper {
  width: 100%;
}

.rowItem {
  display: block;
  border: 1px solid grey;
  padding: 15px;
  width: 100%;
  height: 100%;
}

@media (min-width: 22em) {

  .solutionWrapper {
    width: 50%;
  }
}

@media (min-width: 48em) {

  .bodyWrapper {
    margin: 0;
  }

  .solutionWrapper {
    width: 33%;
  }

   .row {
    flex-wrap: wrap;
  }

  .button {
    display: none;
  }
}

@media (min-width: 72em) {
  .results {
    margin: 0;
  }
}